body{
	font-family: 'Roboto', sans-serif;
}
.box, .box2, .box3{
	margin: 10px 0;
	min-height: 100px;
	color: #fff;
	text-align: center;
	line-height: 100px;
}
.box{
	background-color: #9b59b6;
}
.box2{}
.box3{
	background-color: #00b894;
}
.h_300{
	height: 300px;
}